[Unit]
Description=BST Radio
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/bst-bt-radio
EnvironmentFile=/opt/bst-bt-radio/.env
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/usr/bin/node /opt/bst-bt-radio/dist/server/index.js
Restart=on-failure
RestartSec=5
User=raspi
Group=raspi

[Install]
WantedBy=multi-user.target
